* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

section {
  box-shadow: 4px 4px 10px gray;
  border-radius: 0.30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-line {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-flex img {
  width: 38px;
  height: 39px;
}

.container {
  width: 50%;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  border: 2px solid black;
  width: 100%;
}